.App {
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100%;
}



